.form-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: center;
  margin-top: 60px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  button {
    width: 100%;
    padding: 12px;
  }
}
